<div class="container">
  <h1 style="color: dodgerblue; text-align: center;margin-top: 1em;">UMKC</h1>
  <mdb-carousel class="carousel slide carousel-fade mt-1" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100 ">
        <img class="d-block w-100" src="../../assets/umkc1.jpg" alt="SCE">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <div class="animated fadeInDown delay-1s">
          <h3 class="h3-responsive">SCE</h3>
          <p>School of Computer Engineering</p>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/umkc2.jpg" alt="UMKC Rep">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <div class="animated fadeInDown delay-1s">
          <h3 class="h3-responsive">UMKC Rep</h3>
          <p>School at Ease</p>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/umkc3.png" alt="Swinney">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <div class="animated fadeInDown delay-1s">
          <h3 class="h3-responsive">Swinney</h3>
          <p>Recreation for All</p>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/umkc4.jpg" alt="MNLC">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <div class="animated fadeInDown delay-1s">
          <h3 class="h3-responsive">MNLC</h3>
          <p>Miller Nicholas Learning Center</p>
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <h3 style="color: dodgerblue; text-align: center;margin-top: 2em;">About</h3>
  <p style=" text-align: center;margin-top: 1em;">Time and time again, our students tell us their campus visit sealed
    the deal for them at UMKC. To help you find the experience that's right for you, we offer several ways to visit — in
    person and virtual.</p>
  <h3 style="color: dodgerblue; text-align: center;margin-top: 2em;">Why UMKC</h3>
  <p style=" text-align: center;margin-top: 1em;">We know you have countless choices when choosing a college (and after
    a while, they can all start to look the same). That’s why we created this at-a-glance guide to what makes UMKC
    different from the rest.</p>
  <h3 style="color: dodgerblue; text-align: center;margin-top: 2em;">By the Numbers</h3>
  <div class="row col-md-12 mb-5">
    <div class="col-md-4" style="text-align: center;">
      <h1><strong>100+</strong></h1>
      <p>Barbecue restaurants in KC</p>
    </div>
    <div class="col-md-4" style="text-align: center;">
      <h1><strong>14</strong></h1>
      <p>Division I sports teams on campus</p>
    </div>
    <div class="col-md-4" style="text-align: center;">
      <h1><strong>11,000+</strong></h1>
      <p>Jobs posted on UMKC career network each year</p>
    </div>
  </div>
</div>
