<div class="container">
<mdb-carousel class="carousel slide carousel-fade mt-5" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100 ">
      <img class="d-block w-100" src="../../assets/umkc1.jpg" alt="SCE">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <div class="animated fadeInDown delay-1s">
        <h3 class="h3-responsive">SCE</h3>
        <p>School of Computer Engineering</p>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/umkc2.jpg" alt="UMKC Rep">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <div class="animated fadeInDown delay-1s">
        <h3 class="h3-responsive">UMKC Rep</h3>
        <p>School at Ease</p>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/umkc3.png" alt="Swinney">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <div class="animated fadeInDown delay-1s">
        <h3 class="h3-responsive">Swinney</h3>
        <p>Recreation for All</p>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/umkc4.jpg" alt="MNLC">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <div class="animated fadeInDown delay-1s">
        <h3 class="h3-responsive">MNLC</h3>
        <p>Miller Nicholas Learning Center</p>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

</div>
