
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item active ml-1" aria-current="page">Pathway</li>
    </ol>
  </nav>
  <div class="container p-0">
<div class="container">
      <div class="row row-cols-3 mt-3">
    <div class="col mb-3" (click)="moduleChange('courses')">
      <div class="card shadow" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-title" style="font-weight: bold;">Manage Classes</p>
          <p class="card-text">Add/drop class, Schedule</p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card shadow" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-title" style="font-weight: bold;">Acedamic Records</p>
          <p class="card-text">Add/drop class, Schedule</p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card shadow" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-title" style="font-weight: bold;">Personal Info</p>
          <p class="card-text">Add/drop class, Schedule</p>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card shadow" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-title" style="font-weight: bold;">Financial Account</p>
          <p class="card-text">Add/drop class, Schedule</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>