<!-- <app-home></app-home> -->
<div style="width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">UMKC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" *ngIf="loginVar=='false'">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item justify-content-end" *ngIf="loginVar=='true'" >
              <a class="nav-link" routerLink="/login" (click)="logout()">Logout</a>
            </li>
            
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="row m-0" style="height: 100%;width: 100%;">
<div class="col-md-2 pl-0">
  <app-sidebar></app-sidebar>
</div>
<div class="col-md-10 p-0" style="overflow-y: auto;height: 58em;">
  <div class="container p-0">
  <router-outlet></router-outlet>
</div>
</div>
    </div>
   <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">Created by JVS PAVAN <img src="../assets/intangible-asset.png" width="40" height="40" /> 2022
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
