<div style="width: 100%;">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item ml-1"><a href="/dashboard" style="text-decoration: none;">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Course</li>
      <li class="breadcrumb-item active" aria-current="page">{{link}}</li>
    </ol>
  </nav>
  <div class="row">
<div class="d-flex flex-column flex-shrink-0 p-3 col-md-2">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a [ngClass]="link == 'Home' ? 'nav-link active' : 'nav-link link-dark'" (click)="link = 'Home'">
          Home
        </a>
      </li>
      <li>
        <a [ngClass]="link == 'Announcements' ? 'nav-link active' : 'nav-link link-dark'" (click)="link = 'Announcements'">
          Announcements
        </a>
      </li>
      <li>
        <a [ngClass]="link == 'Discussions' ? 'nav-link active' : 'nav-link link-dark'" (click)="link = 'Discussions'">
          Discussions
        </a>
      </li>
      <li>
        <a [ngClass]="link == 'Assignments' ? 'nav-link active' : 'nav-link link-dark'" (click)="link = 'Assignments'">
          Assignments
        </a>
      </li>
      <li>
        <a [ngClass]="link == 'Grades' ? 'nav-link active' : 'nav-link link-dark'" (click)="link = 'Grades'">
          Grades
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <div *ngIf="link == 'Home'">
      <h2 style="color: dodgerblue; text-align: center;margin-top: 2em;">{{data.desc}}</h2>
      <p style=" text-align: center;margin-top: 1em;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
      <app-announcements *ngIf="link == 'Announcements'"></app-announcements>
      <app-assignments *ngIf="link == 'Assignments'"></app-assignments>
      <app-discussions *ngIf="link == 'Discussions'"></app-discussions>
      <app-grades *ngIf="link == 'Grades'"></app-grades>
  </div>
</div>
</div>
