<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item ml-1 active"  aria-current="page">Dashboard</li>
  </ol>
</nav>
<div class="container">
  <div class="row row-cols-3  mt-3">
    <div *ngFor="let record of data;let i = index">
      <div class="col mb-3">
        <div class="card shadow" style="width: 18rem;" (click)="openCourse(i)">
          <img src="" class="card-img-top" alt="">
          <div class="card-body">
            <p class="card-title" style="font-weight: bold;">{{record.title}}</p>
            <p class="card-text">{{record.desc}}</p>
            <div class="row col-md-12 m-0">
              <i class="bi-megaphone col-md-4" style="font-size: x-large;text-align: center;">
                <span style="font-size: 0.5em;" *ngIf="record.unreadAnnouncements != 0"
                  class="shadow-lg position-absolute translate-middle badge rounded-circle bg-warning">
                  {{record.unreadAnnouncements}}
                </span></i>
              <i class="bi-chat-text col-md-4" style="font-size: x-large;text-align: center;">
                <span style="font-size: 0.5em;" *ngIf="record.unreadDiscussions != 0"
                class="shadow-lg position-absolute translate-middle badge rounded-circle bg-warning">
                {{record.unreadDiscussions}}
              </span></i>
              <i class="bi-list-task col-md-4" style="font-size: x-large;text-align: center;">
                <span style="font-size: 0.5em;" *ngIf="record.unreadAssignments != 0"
                class="shadow-lg position-absolute translate-middle badge rounded-circle bg-warning">
                {{record.unreadAssignments}}
              </span></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
